<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title"><span class="glyphicon glyphicon-book"></span> 博客管理</div>
    </div>
    <div class="panel-body">
        <div class="list-group">
            <div class="list-group-item"><span class="glyphicon glyphicon-align-left"></span>  @Html.ActionLink("博客列表", "Index")</div>
            <div class="list-group-item"><span class="glyphicon glyphicon-plus"></span>  @Html.ActionLink("普通文章添加", "AddBlog")</div>
            <div class="list-group-item"><span class="glyphicon glyphicon-plus"></span>  @Html.ActionLink("链接文章添加", "Index")</div>
            <div class="list-group-item"><span class="glyphicon glyphicon-plus"></span>  @Html.ActionLink("单页文章添加", "Index")</div>   
        </div>
        <div class="list-group">
            <div class="list-group-item"><span class="glyphicon glyphicon-tasks"></span>  @Html.ActionLink("标签管理", "Index")</div>
        </div>


    </div>
</div>
