@using Domain.Model.Blog
@model List<Blog>

@{
    ViewBag.Title = "主页";
    Layout = "~/Areas/Member/Views/Shared/_Layout.cshtml";
}
@section SideNav{@Html.Action("_HomeSideNavPartial", "Side")}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div id="Content2">
        @{
            if ((Blog)ViewBag.TopBlog != null)
            {
                @*置顶*@
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="font-weight: bold;">
                            <a type="button" href="@Html.Raw("/Member/Content/Index/" + ((Blog) ViewBag.TopBlog).ID)" class="btn btn-success" style="color: beige">置 顶</a>
                            <a style='color: #5CACEE;' href="@Html.Raw("/Member/Content/Index/" + ((Blog) ViewBag.TopBlog).ID)">@(((Blog)ViewBag.TopBlog).Title)</a>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <br />
                        <div style="color: #333333; ">
                            <div class="alert alert-success" role="alert">
                                <h4>简介</h4>
                                <p style="color: #121212; font-size: 20px;">
                                    
                                    @Html.Raw(((Blog) ViewBag.TopBlog).Summary)
                                </p>
                            </div>
                        </div>
                        <div>
                            <div style="color: #8B8378;">
                               &nbsp;<img src=" http://www.zynblog.com/Content/images/ico_time.png" alt="Alternate Text" /> @(((Blog)ViewBag.TopBlog).CreateTime) <img src=" http://www.zynblog.com/Content/images/ico_eye.png" alt="Alternate Text" /> 浏览（@(((Blog)ViewBag.TopBlog).Volume)）<img src=" http://www.zynblog.com/Content/images/ico_praise.png" alt="Alternate Text" />（206）
                            </div>
                            <br />
                            <a href="@Html.Raw("/Member/Content/Index/" + ((Blog) ViewBag.TopBlog).ID)" style="float: right; color: #008B8B;">继续阅读>></a>
                        </div>
                    </div>
                </div>
            }
            else
            {
  <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="font-weight: bold;">
                            <a type="button" href="#" class="btn btn-success" style="color: beige">置 顶</a>
                            <a style='color: #5CACEE;' href="#">暂无置顶</a>
                        </h3>
                    </div>
           
                </div>
            }

        }

        @*内容*@
        @{
            foreach (var item in Model)
            {

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="font-weight: bold;">
                            <a type="button" href="@Html.Raw("/Member/Home/Index/" + @item.Category.ID + "?pageindex=1")" class="btn btn-info" style="color: beige">@item.Category.Name</a>
                            &nbsp; <a style='color: #5CACEE;' href="@Html.Raw("/Member/Content/Index/" + item.ID)">@item.Title</a>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <br />
                        <div style="color: #8B8378;">
                            <h4>简介</h4>
                            <p style="color: #121212; font-size: 18px;">
                                @Html.Raw(@item.Summary)
                            </p>
                        </div>
                        <div>
                            <hr />
                            <div style="color: #8B8378;">
                                &nbsp; <img src=" http://www.zynblog.com/Content/images/ico_time.png" alt="Alternate Text" /> @item.CreateTime <img src=" http://www.zynblog.com/Content/images/ico_eye.png" alt="Alternate Text" /> 浏览（@item.Volume）<img src=" http://www.zynblog.com/Content/images/ico_praise.png" alt="Alternate Text" />（206）
                            </div>
                            <a href="@Html.Raw("/Member/Content/Index/" + item.ID)" style="float: right; color: #008B8B;">继续阅读>></a>
                        </div>
                    </div>
                </div>

            }
        }

        @*分页*@
        <nav>
            <ul class="pagination pagination" style="float: right;">
                @Html.Raw(ViewBag.Page)
            </ul>
        </nav>
        当前页 @ViewBag.PageIndex
        共 @ViewBag.PageCount 页

    </div>
</body>
</html>
