@using Domain.Model.Blog
@using Domain.Model.Category
@model List<Category>



<div class="panel panel-success">
    <div class="panel-heading">
        <div class="panel-title">
            <span class="glyphicon glyphicon-user"></span> yhyboy
        </div>
    </div>
    <div class="panel-body" style="padding: 10px; font-size: 15px; line-height: 1.5;">
       
            <div style="width: 150px; text-align: center; font-size: 14px; float: left;">
                <img id="wxlook" class="img-responsive" style="margin-right: 5px" width="145" height="145" alt="微信扫一扫" title="打开微信扫一扫" src="~/BlogImg/MyWx.png" data-bd-imgshare-binded="1">
                <span style="color: #4D4D4D">微信扫一扫</span>
            </div>
        <div style="text-indent: 2em;">
            <p style="font-family: Arial, Microsoft YaHei, 黑体, 宋体, sans-serif; color: #545454; font-size: 15px">
                这不是一个分享文章的正经博客，是我作为练手项目的一个博客，主要目的是通过博客的开发过程更好的掌握Asp.Net的各项技术点。如果您感兴趣可以下载代码。如果您有问题可以在留言板上留言。另外，本来想写上打赏功能，但是由我这个博客开发的比较简单估计没人打赏就算了~~
                PS:YHYBOY:游戏爱好者，IT界的一名小学生。目前在研究Asp.Net，如何实现一个小目标，比如..
                更多信息请点击：<a target="_blank" href="/Member/Home/About" style="color: #1abc9c">关于本站.</a>
            </p>
        </div>
    </div>
    &nbsp;<span style="color: #1abc9c; "> 给我一首歌</span>
    <div id="wrapper" style="padding: 5px">
        <audio src="/Content/music/audio/seeyouagain.mp3" preload="auto" controls style="width: 100%;"></audio>
        <script src="/Content/music/js/jquery.min.js"></script>
        <script src="/Content/music/js/audioplayer.js"></script>
        <script>$(function () { $('audio').audioPlayer(); });</script>
    </div>
</div>

<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">阅读排行</h3>
    </div>
    <div class="panel-body">
        <ul class="list-group list-group-flush">
            @{
                foreach (Blog item in ViewBag.ReadBlog)
                {
                    <a style="font-weight: bolder; color: #4D4D4D; " href="@Html.Raw("/Member/Content/Index/" + item.ID)" class="list-group-item">@item.Title  <span style="font-weight: bolder; color: #4876FF; ">(@item.Volume)</span></a>
                }
            }
        </ul>

    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">栏目</h3>
    </div>
    <div class="panel-body">
        <div class="panel-group">
            @{
                foreach (var item in Model)
                {
                    if (item.Depth == 0)
                    {

                        @Html.Raw(LanMu(item))

                    }
                }
            }
            @functions {

                public IHtmlString LanMu(Category category)
                {

                    if (Model.Where(c => c.ParentID == category.ID).Count() <= 0 && category.Depth == 0)
                    {
                        return @Html.Raw(" <a class='list-group-item' style=' color: #3B3B3B' href='/Member/Home/Index/" + @category.ID + "?pageindex=1'>" + @category.Name + "</a>");
                    }

                    {
                        string str = " <div class='panel panel-info'> <div class='panel-heading' data-toggle='collapse' data-parent='#accordion2' href='#" + @category.ID + "'> <a style=' color: #3B3B3B' class='accordion-toggle'>" + @category.Name + "</a> </div> <div id='" + @category.ID + "' class='panel-collapse collapse' style='height: 0px;'>  <div class='panel-body'>  <ul class='nav nav-pills nav-stacked'>";
                        str += " <li><a style=' color: #3B3B3B' href='/Member/Home/Index/" + @category.ID + "?pageindex=1'>" + @category.Name + "</a></li>";
                        foreach (var item2 in Model)
                        {
                            if (item2.ParentID == category.ID)
                            {
                                str += LanMu(item2);
                            }
                        }
                        str += " </ul> </div> </div> </div>";
                        return @Html.Raw(str);
                    }
                }
            }
        </div>
    </div>
</div>

<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">新随笔</h3>
    </div>
    <div class="panel-body">
        @*<ul class="list-group list-group-flush">*@
        <div class="list-group list-group-flush">
            @{
                foreach (Blog item in ViewBag.NewBlog)
                {
                    <a class="list-group-item " style="font-weight: bolder" href="@Html.Raw("/Member/Content/Index/" + item.ID)" class="list-group-item">@item.Title <br /> <span style="color: #616161"> - @item.CreateTime.Year 年 @item.CreateTime.Month 月 @item.CreateTime.Day 日</span></a>
                }
            }
        </div>
        @*</ul>*@
    </div>
</div>
