@using System
@using Common
@using Common.Others
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    @Styles.Render("~/Content/Control")
    @RenderSection("style", required: false)
    @Scripts.Render("~/bundles/Control")
    @RenderSection("scripts", required: false)
   
    <script src="http://libs.baidu.com/jquery/1.8.3/jquery.min.js"></script>
    <script src="/Content/weather/weather.js"></script>

    <link rel="stylesheet" type="text/css" href="/Content/neon/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/Content/neon/css/htmleaf-demo.css">
    <link type="text/css" rel="stylesheet" href="/Content/neon/css/style.css" />
    <style type="text/css">

        body {
            background: #E0EEEE;
            background-image: url("/Content/bg/Full-background-webdevtuts/images/image1.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            font: 12px/1.5 Tahoma,Helvetica,Arial,'宋体',sans-serif;
        }

        #Content .panel {
            background: #F0FFFF;
            filter: alpha(opacity=85);
            -moz-opacity: 0.85;
            -khtml-opacity: 0.85;
            opacity: 0.85;
        }

        #SideNav .panel {
            background: #EAEAEA;
            filter: alpha(opacity=70);
            -moz-opacity: 0.85;
            -khtml-opacity: 0.85;
            opacity: 0.85;
        }

        #Content2 .panel {
            background: #F0FFFF;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top" style="background: #04477C !important;">
   
        <div class="container">
            <div class="navbar-header">
                <span class="neon-logo" style="font-weight: bold; font-size: 30px; color: #FFFFFF;">@(((WebInfo) ViewBag.WebInfo).BlogName) </span>&nbsp;&nbsp;&nbsp;<br/>
                &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; <span style="font-weight: bold; font-size: 15px; color: #FFFFFF;">-生活不止有眼前的苟且，还有未来的诗和苟且 </span>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div style="font-size: 20px; font-weight: bold; float: right" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="neon-1" style="color: #FFFFF0" href="/Member/Home/Index"><span class="glyphicon glyphicon-home"></span> 主页 </a>
                    </li>
                    <li class="dropdown">
                        <a class="neon-1" style="color: #FFFFF0" href="/Member/Home/About"><span class="glyphicon glyphicon-tasks"></span> 关于</a>
                    </li>
                    <li class="dropdown">
                        <a class="neon-1" style="color: #FFFFF0" href="/Member/Home/LeaveMsg"><span class="glyphicon glyphicon-heart-empty"></span> 留言 </a>
                    </li>

                    @{
                        if (CurrUser.IsLogin)
                        {
                            <li class="dropdown">
                                <a class="neon-1" style="color: #FFFFF0" href="/Member/Home/Out"><span class=" glyphicon glyphicon-hand-left"></span>登出 <span style="font-size: 8px">@CurrUser.UserName</span>          </a>
                            </li>
                        }
                        else
                        {
                            <li class="dropdown">
                                <a class="neon-1" style="color: #FFFFF0" href="/Member/User/Login"><span class="glyphicon glyphicon-hand-right"></span> 登录 </a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="container body-content">
        <div class="row">

            <div class="welcome-info" style="margin-left: 20px;">
                <div ><span id="weather" style="color: #B0E0E6; font-size: 15px;"></span></div>
            </div>
            <script type="text/javascript">
                $('#weather').leoweather({ format: '{时段}好！，<span id="colock">现在时间是：<strong >{年}年{月}月{日}日 星期{周} <span style=" color: #FF7F00">{时}:{分}:{秒}</span></strong>，</span> <b>{城市}天气</b><span style=" color: #FF7F00"> {天气} </span>{夜间气温}℃ ~ {白天气温}℃' });
            </script>
            <div id="Content" class="col-lg-9 ">@RenderBody()</div>
            <div id="SideNav" class="col-lg-3 ">@RenderSection("SideNav", false)</div>
        </div>
        <hr/>


        <footer id="zyn-footer">
            <div class="container " style="color: #FCFCFC">
                Copyright © 2016 <a href="#">@(((WebInfo) ViewBag.WebInfo).BlogName) </a>&nbsp; | &nbsp;联系我 :
                <a href="#">@(((WebInfo) ViewBag.WebInfo).CallMe)</a>&nbsp; | &nbsp;All Rights Reserved.&nbsp; | &nbsp;XXXXXXXXXXXXXXXX
            </div>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" src="/Content/neon/js/neon_text.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.anav-list').neonText();
            $('.neon-1').neonText({
                textColor: 'white',
                textSize: '18pt',
                neonHighlight: 'white',
                neonHighlightColor: '#008000',
                neonHighlightHover: '#FF6A6A',
                neonFontHover: 'white'
            });
            $('.NOneon-logo').neonText({
                textColor: 'white',
                textSize: '25pt',
                neonHighlight: '#E0E0E0',
                neonHighlightColor: '#00FFFF',
                neonHighlightHover: '#7FFF00',
                neonFontHover: 'white'
            });
        });
    </script>

</body>
<!--页脚版权声明-->


</html>