@using Common.Others
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/Control")
    @RenderSection("style", required: false)
    @Scripts.Render("~/bundles/Control")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top" style="background: #87CEFA !important; ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("后台管理", "Index", "Home", new { area = "Control" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> 用户管理 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index","User")"> 人员管理</a></li>
                            <li><a href="@Url.Action("Index","Role")"> 角色管理</a></li>
                        </ul>
                    </li>
                    <li><a href="@Url.Action("Index", "Admin")"><span class='glyphicon glyphicon-lock'></span> 管理员</a></li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-list"></span> 栏目设置<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Add", "Category")">添加栏目</a></li>
                            <li><a href="@Url.Action("Index", "Category")">栏目管理</a></li>
                        </ul>
                    </li>
                    <li><a href="@Url.Action("Index", "Blog")"><span class='glyphicon glyphicon-book'></span> 博客管理</a></li>
                    <li><a href="@Url.Action("Index", "WebConfig")"><span class="glyphicon glyphicon-cog"></span> 网站设置</a></li>
                </ul>


                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="@Url.Action("MyInfo", "Admin")">
                            <span class="glyphicon glyphicon-envelope"></span> @((CurrUser.IsLogin && CurrUser.ExtInfo == "admin") ? CurrUser.UserName : "管理员")
                        </a>
                    </li>
                    @{
                        if (CurrUser.IsLogin)
                        {
                            if (CurrUser.ExtInfo == "admin")
                            {
                           <li>
                                <a href="@Url.Action("OutLogin", "Admin", new {area = "Control"})"><span class="glyphicon glyphicon-log-out"></span> 退出</a>
                            </li>
                            }
                          
                        }
                        else
                        {
                          
                            <li>
                                <a href="@Url.Action("Login", "Admin",new {area="Control"})"><span class="glyphicon glyphicon-log-out"></span> 登录</a>
                            </li>
                        }
                    }

                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4">@RenderSection("SideNav", false)</div>
            <div class="col-lg-9 col-md-9 col-sm-8">@RenderBody()</div>
        </div>
        <hr />
        <footer class="navbar navbar-fixed-bottom text-center bg-primary ">
            <p>&copy; yhyboy v0.1 BASE BY yhyboy </p>
        </footer>
    </div>
</body>
</html>
